
.father{
    
   display:grid;
   gap: 10px;
    height: 50vh;
   
    grid-template: 
    "header header header header" 1fr
    "content content content nav" 1fr 
    "content content content nav" 1fr 
    "footer footer footer footer" 1fr /1fr 1fr 1fr 1fr;
    ;
   
}
.header{
   grid-area:header;
}
.content{
   grid-area:content;
}
.nav{
   grid-area: nav;
}
.footer{
   grid-area:footer;
}

.child{
    background: blue;
    flex-basis: 33%;

    color:white;
    font-size: 50px;
    display: flex;
    justify-content: center;
   align-items: center;

}

 

/* .child:nth-child(2){
    align-self: center;
    order: 3;
}
.child:nth-child(3){
    order: 1;
} */

/* .box:nth-child(3){
    margin-left: 500px;
} */