
.father{
    
   display:grid;
   grid-template-columns: auto 200px;
    gap: 10px;
    grid-template-rows: repeat(4,200px) ;
    grid-template-areas: 
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";    ;
}
.header{
    grid-area: header;
}
.content{
    grid-area:content;
}
.nav{
    grid-area:nav;
}
.footer{
    grid-area:footer;
}

.child{
    background: blue;
    flex-basis: 33%;

    color:white;
    font-size: 50px;
    display: flex;
    justify-content: center;
   align-items: center;

}

 

/* .child:nth-child(2){
    align-self: center;
    order: 3;
}
.child:nth-child(3){
    order: 1;
} */

/* .box:nth-child(3){
    margin-left: 500px;
} */