*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}

.video-cont{
  height: 99vh;
  width: auto;
  background-color: black;
}

video{
  height:100%;
  width:100%;
}
.action-cont{
  height: 12rem;
  width: 5rem;
  /* background-color: blue; */
  position: absolute;
  top: calc( (100vh - 12rem ) / 2);
  left: calc( 100vw - 10rem );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.action-cont>*{
  height:5rem;
  border: 5px solid white ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-btn{
  background-color: red;
  height: 3rem;
  width:3rem;
  border-radius: 50%;
}

.capture-btn{
  background-color: white;
  height: 3rem;
  width:3rem;
  border-radius: 50%;
}

.timer-cont{
  color: aliceblue;
  position:absolute;
  top: 80vh;
  left: 5vw;
  
}
.timer{
  display: none;
}

.filter-cont{
  position:absolute;
  top: 40vh;
  left: 6vw;

  color: rgb(31, 132, 221);
  height:16rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter{
  height: 5rem;
  width: 4rem;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-size: 100% 100%;
  background-blend-mode :color-burn;
}

.brown{
  background-color: rgba(111, 110, 110, 0.647);
}
.orange{
  background-color: rgba(223, 45, 45, 0.725);
}

.pink{
  background-color: rgba(255, 53, 53, 0.385);
}

.transparent{
  background-color: rgba(0, 0, 0, 0);
}

.gallery{
  position: absolute;
  bottom: 10rem;
  right: 7rem;
  
}
.gallery :hover{
  cursor: pointer;
}
.material-icons{
  color: white;
}




