*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.toolbox-cont{
    height: 5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    
}

.toolbox-cont > *{
    margin-left: 4rem;

}
.toolbox-color-cont{
    height: 3.5rem;
    width:18rem ;
    background: rgb(95, 95, 95);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont{
    height: 3.5rem;
    width:7rem ;
    background: rgb(70, 72, 72);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn-cont>*{
    font-size: 2rem;
    color: azure;
}

.color{
    height: 1.5rem;
    width:3rem;

}
.lightPink{
    background-color: lightpink;
}
.lightgreen{
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}



.black{
    background-color: black;
}
.toolbox-color-cont >*:hover,.action-btn-cont>*:hover{
    background-color: rgb(235, 225, 225);
}

.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: aqua;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 50vw)/2);
    display: flex;
    align-items: center;
}

textarea{
    height: 100%;
    width: 75%;
    background-color: azure;
    border: none;
    resize: none;
    outline: none;
    font-size: 2rem;

}
.priority-color-cont{
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(94, 91, 91);
}
