* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* ---------------page actions---------------------------------- */
.page-actions-cont {
  height: 3rem;
  background-color: #247147;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.page-action {
  margin: 0.5rem;
  color: #f1f2f6;
}
/* --------------------cellprop actions----------------------------- */
.cellprop-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
}
.cellprop-actions-cont::-webkit-scrollbar {
  height: 2px;
}
.cellprop-actions-cont::-webkit-scrollbar-thumb {
  background-color: #247147;
  border-radius: 30px;
}
.cellprop-actions-cont::-webkit-scrollbar-track {
  background-color: #97ccaf;
}

.cellprop-actions-cont > * {
  display: inline-block;
  margin-right: 1rem;
}
.cellprop-actions-cont > *:hover {
  cursor: pointer;
}

.cellprop-actions-cont > select {
  border: none;
  border-radius: 3px;
  outline: none;
}
.cellprop-actions-cont > span {
  font-size: 1.5rem;
}

.font-family-prop {
  padding: 0.2rem;
}
.font-size-pro {
  padding: 0.2rem;
}

.color-prop {
  position: relative;
}

.color-prop > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* -----------------------fourmula actions-------------------------- */
.fourmula-actions-cont {
  height: 2rem;
  background-color: #ecf0f1;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  border-top: 0.5px solid #dcdfe0;
}
.fourmula-actions-cont > * {
  display: inline-block;
  margin-right: 0.7rem;
}

.fourmula-icon {
  width: 1.2rem;
}
.address-bar {
  width: 5rem;
  text-align: center;
}
.fourmula-bar {
  width: calc(100vw - 1rem - 1.2rem - 5rem - 0.7rem - 0.7rem - 0.7rem);
}
.fourmula-actions-cont > input {
  border: none;
  outline: none;
  height: 70%;
}
/*------------------------- sheet actions------------------------ */
.sheet-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  border-top: 1px solid #79c199;
  align-items: center;
  padding-left: 0.5rem;

  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.sheet-actions-cont > * {
  display: inline-block;
}
.sheet-add-icon {
  width: 2vw;
  padding-right: 1rem;
}
.sheets-folder-cont {
  display: flex;
  align-items: center;
  height: 80%;
  width: 5rem;
  /* background-color: yellow; */
  width: calc(100vw - 2vw);
}

.sheet-folder {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 2px;
  font-size: 0.9rem;
}
/*------------------------- grid container------------------------- */
.grid-cont {
  height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
  position: relative;
  overflow: scroll;
  background-color: #ecf0f1;
}

.top-left-dummy-box {
  height: 2rem;
  width: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #747d8c;
}

.address-col-cont {
  position: sticky;
  top: 2rem;
  left: 0;
  /* background-color: #729ce6; */
}

.cells-cont {
  position: absolute;
  top: 0;
  left: 2rem;
  /* background-color: lightgreen; */
}
.address-row-cont {
  height: 2rem;
  position: sticky;
  top: 0;
  left: 2rem;
  display: flex;
}

.address-col {
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe4ea;
}

.address-row {
  height: 2rem;
  width: 5rem;
  font-size: 0.8rem;
  text-align: center;
  border: 1px solid #dfe4ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-cont {
  display: flex;
}
.cell {
  height: 2rem;
  width: 5rem;
  border: 1px solid #dfe4ea;
  outline: none;
  overflow: scroll;
}
.cell::-webkit-scrollbar {
  display: none;
}
