.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000000a3;
	height: 100vh;
	transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.container {
	background-color: #ffffff;
	padding: 2rem 3rem;
	border: 2px solid #000000;
	text-align: center;

	border: 2px solid black;
	/* height: 40vh; */
}

.container h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
  }

.container p {
    font-size: 1rem;
  }
  .container p span {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .container p.colorCode {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
    border: 2px solid #000000;
    margin-top: 1rem;
  }
  
  button {
    width: 100%;
    padding: 0.8rem 1.5rem;
    background-color: rgb(35, 35, 35);
    border: 2px solid #000000;
    color: #ffffff;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0.5rem 0;
  }
  
