//fonts-used : proxima nova and freight disp bold/light
@import '__variables';
@import '__titles';
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}

body > *:not(.logo):not(.footer) {
  padding: 0px 141px;
}
body {
  padding-top: 100px;
  font-family: 'Freight Disp light';
  color: black;
  font-size: 20px;
}

header {
  z-index: 999;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;

  display: flex;
  align-items: center;
}
nav {
  img {
    padding-right: 250px;
  }
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    @extend %miniTitle;
    &:first-child {
      li {
        margin-right: 40px;
      }
    }
  }
}

.wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(./Hero.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 45px;
    color: white;
    text-align: center;
    width: 40%;
  }
  a {
    border: 2px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    padding: 20px 40px;
    transition: all 0.3s linear;
    @extend %miniTitle;
    &:hover {
      background-color: rgb(84, 84, 84);
      color: white;
    }
  }
}

.under-section {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  .under-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    background-color: $brown;

    align-items: center;
  }
  .under-section__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    h4 {
      @extend %miniTitle;
    }
    h2 {
      @extend %title;
      width: 65%;
    }
    a {
      @extend %button;
    }
    span {
      height: 10px;
      width: 30px;
    }
  }

  img {
    height: 100%;
    width: 50%;
  }
}

.inspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 200px;

  .button {
    a {
      margin-top: 100px;
      @extend %button;
    }
  }
  h4 {
    @extend %miniTitle;
  }
  h2 {
    @extend %title;
  }
  .product-image {
    width: 100px;
    text-align: center;
    border-right: 1px solid $black;
    margin: 20px;
  }

  .product-title {
    text-align: center;
    color: $black;
  }
  .inspiration-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .border-none {
      border-right: none;
    }

    a {
      text-decoration: none;
    }
  }
}

.blog {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  .blog__post {
    background-color: $brown;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &:nth-child(odd) {
      img {
        order: 1;
      }
    }
  }

  .blog_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      @extend %title;
      width: 80%;
    }
    a {
      @extend %miniTitle;
      font-size: 14px;
    }
  }
}

.instagram {
  background-color: #f8dabe;
}
.gift {
  background-color: #dee8e9;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  .gallery__poster {
    img {
      width: 100%;
      height: 100%;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.footer{
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  background-color: $brown;
  justify-content: space-around;
  align-items: center;

  
  .footer__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-right: 1px solid $black;
      &:last-child{
        border: none;
      }
  }

  span{
    @extend %miniTitle;
    margin-top: 30px;
    margin-bottom: 50px;
    opacity: 0.6;
  }
  ul{
    text-align: center;
    li{
      margin-bottom: 20px;
      @extend %miniTitle;
      font-size: 10px;
    }
  }
}